{% extends "base.html" %}

{% block content %}
  <h1>Cars detail</h1>

  {% if cars %}
    <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>

       {% for car in cars %}
          <tr>
            <td>
              <a href="{% url 'taxi:car-detail' pk=car.pk %}">
                {{ car.id }}
              </a>
            </td>
            <td>{{ car.model }}</td>
          </tr>
      {% endfor %}
    {% endif %}
    </tbody>
{% endblock %}
