{% extends "base.html" %}

{% block content %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
      </tr>

    </thead>
    <tbody>
      {% if driver_list %}
        {% for driver in driver_list %}
          <tr>
            <td>{{ driver.id }}</td>
            <td>
              <a href="{% url 'taxi:driver-detail' pk=driver.pk %}">
                {{ driver.username }}
              </a>
            </td>
          </tr>
        {% endfor %}

      {% else %}
        <span>There is no any driver,</span>
      {% endif %}

    </tbody>

  </table>
{% endblock %}
